<%- include('partials/header'); -%>

    <main>
        <div class="project">
            <h2><%= nom %> <%= prenom %></h2>
            <h5><%= pays %></h5>
            <p><%= lettre %></p>
        </div>
    </main>

<%- include('partials/footer'); -%>